.container {
  max-width: 1170px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  /* background: url(./PB2.png) center no-repeat; */

  background-color: #3f51b5;
}
